<hr />
<div class="row">
  <section class="image">
    <img
      src="https://avatars.githubusercontent.com/u/88238288?s=400&u=e1f383d88007f4b11ce5c317dce0c96db9fd7e5e&v=4"
      alt=""
      class="avatar"
    />
  </section>
  <section class="content">
    <h2>🎙️ Project Overview</h2>
    <p class="text">
      Hi, I'm <code class="gradient-bg">ledinhanhtan</code> and the only thing I
      know is that I know nothing. I've been building software for over 10 years
      and started this project with a simple mission... 👉 create practical
      content that
      <b>increases developer happiness and productivity 🚀 </b>
    </p>
    <a href="https://github.com/ledinhanhtan-dev" class="link"
      >🙈 Meet me on GitHub!</a
    >
  </section>
</div>
