@import "/src/styles/variables";

:host {
  display: block;
}

.nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0 1rem;
  height: $nav-height-desktop;
  background-color: $neutral-700;
  box-shadow: $shadow-nav;
  align-items: center;
  position: fixed;
  display: flex;

  @include respond($md) {
    height: $nav-height-mobile;
  }

  transition: top 300ms ease;
}

:host.hide .nav {
  top: -4rem;

  @include respond($md) {
    top: -3rem;
  }
}
