@import '/src/styles/variables';

:host {
  display: block;
  padding-bottom: 2rem;
}

.heading {
  text-align: center;
}

.subheading {
  text-align: center;
  color: var(--cl-text);
}

.gradient-text {
  font-style: italic;
}
