@mixin card {
  display: block;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-card);
  background-color: var(--bg-card);
  transition: transform 300ms ease;

  &:hover {
    transform: translateY(-3px);
  }
}
