@import '/src/styles/variables';

.markdown {
  h3 {
    color: $neutral-200;
  }

  a {
    color: $white;
    font-weight: 600;
    box-shadow: inset 0 -3px 0 #b4e7f8;
    transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);

    &:hover {
      background-color: #00ffd24d;
    }
  }
}
