@import '/src/styles/variables';

@mixin nav-item {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: color 500ms ease;
  height: $nav-height-mobile;
  color: var(--cl-text);
  margin: 0 1rem;

  &:hover {
    color: var(--cl-heading);
  }

  @include respond($md) {
    margin: 0 0.75rem;
  }
}
