@import '/src/styles/variables';

// Colors - Background Colors

.android {
  background-color: $tag-android;
}

.angular {
  background-color: $tag-angular;
}

.css {
  color: $neutral-700;
  background-color: $tag-css;
}

.docker {
  background-color: $tag-docker;
}

.electron {
  color: $neutral-800;
  background-color: $tag-electron;
}

.fauna {
  background-color: $tag-fauna;
}

.firebase {
  color: $black;
  background-color: $tag-firebase;
}

.flutter {
  color: #003b6c;
  background-color: $tag-flutter;
}

.github {
  background-color: $tag-github;
}

.go {
  background-color: $tag-go;
}

.google-maps {
  color: #ffda5d;
  background-color: #33a668;
}

.graphql {
  background-color: $tag-graphql;
}

.ionic {
  color: $blue-200;
  background-color: $white;
}

.ios {
  color: $white;
  background-color: $black;
}

.javascript {
  color: $black;
  background-color: $tag-javascript;
}

.machine-learning {
  background-color: $purple-100;
}

.minimum-viable-product {
  background: $gradient-200;
}

.node {
  color: $neutral-700;
  background-color: $tag-node;
}

.nest {
  color: $tag-nest;
  background-color: $black;
}

.pro {
  background-color: $green-200;
}

.python {
  color: #ffda5d;
  background-color: $tag-python;
}

.react {
  color: $tag-react;
  background-color: #222;
}

.react-native {
  color: $tag-react;
  background-color: #222;
}

.rpi {
  color: #222;
  background-color: $tag-rpi;
}

.rxjs {
  color: #222;
  background-color: $pink-200;
}

.svelte {
  background-color: $tag-svelte;
}

.typescript {
  background-color: $tag-typescript;
}

.vue {
  color: #35495e;
  background-color: $tag-vue;
}
