svg {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm {
  width: 15px;
  height: 15px;
}

.md {
  width: 20px;
  height: 20px;
}

.lg {
  width: 25px;
  height: 25px;
}

.xl {
  width: 30px;
  height: 30px;
}

.xxl {
  width: 35px;
  height: 35px;
}

.max {
  width: 40px;
  height: 40px;
}
