@import '/src/styles/variables';
@import '/src/styles/partials/card';

:host {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2rem;
  gap: 2rem 1rem;
}

.card {
  @include card;
  padding: 1rem 2rem;
  display: block;
  max-width: 400px;
}
