@import "/src/styles/variables";

html {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #99a0ad;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f3fc;
  }
}

hr {
  border-top: 2px dashed $neutral-700;
}
