@import "./variables";

body {
  font-size: 1rem;
  font-family: $font-primary;
}

h1,
h2,
h3,
h4 {
  font-family: $font-display;
  font-weight: normal;
}

.d1 {
  font-size: 3.5rem;
}

.d2 {
  font-size: 3rem;
}

h1 {
  font-size: 2.5rem;
  @include respond($md) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  @include respond($md) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  @include respond($md) {
    font-size: 1.125rem;
  }
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  font-family: $font-code;
  text-transform: uppercase;
}

p {
  font-size: 1.25rem;
  color: $neutral-200;
  @include respond($md) {
    font-size: 0.95rem;
  }
}

.p1 {
  font-size: 1.125rem;
}

.p2 {
  font-size: 1rem;
}

.p3 {
  font-size: 0.875rem;
}

code {
  font-family: $font-code;
}

.footer {
  font-size: 1.10625rem;
}

.gradient-text {
  background: $gradient-100;
  background-clip: text;
  color: transparent;
}

.gradient-bg {
  padding: 0 5px;
  color: $white;
  background: $gradient-100;
  border-radius: $radius-2;
}

.hi {
  padding: 0px 3px;
  font-weight: 400;
  border-radius: $radius-1;
  background-color: #4e5556;
  color: #cbff8f;
}

.link {
  color: $blue-200;
}

.link-green {
  color: $green-200;
}
