@import './variables';

@font-face {
  font-family: 'Cubano';
  src: local('Cubano'),
    url('/assets/fonts/cubano-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Attribute Mono';
  src: local('Attribute Mono'),
    url('/assets/fonts/attribute-mono.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Attribute Mono';
  src: local('Attribute Mono'),
    url('/assets/fonts/attribute-mono-bold.woff') format('woff');
  font-weight: bold;
}

body {
  font-size: 1rem;
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
  font-weight: normal;
}

.d1 {
  font-size: 3.5rem;
  @include respond($md) {
    font-size: 2.875rem;
  }
  @include respond($sm) {
    font-size: 2.5rem;
  }
}

.d2 {
  font-size: 3rem;
  @include respond($md) {
    font-size: 2.5rem;
  }
}

h1 {
  font-size: 2.5rem;
  @include respond($md) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  @include respond($md) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  @include respond($md) {
    font-size: 1.125rem;
  }
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-code);
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  font-size: 1.25rem;
  color: var(--cl-text);
  @include respond($md) {
    font-size: 0.95rem;
  }
}

.p1 {
  font-size: 1.125rem;
  @include respond($md) {
    font-size: 1rem;
  }
}

.p2 {
  font-size: 1rem;
}

.p3 {
  font-size: 0.875rem;
}

code {
  font-family: var(--font-code);
}

.footer {
  font-size: 1.10625rem;
}

.gradient-text {
  background: var(--gradient-100);
  background-clip: text;
  color: transparent;
}

.gradient-bg {
  padding: 0 5px;
  color: var(--neutral-0);
  background: var(--gradient-100);
  border-radius: var(--radius-2);
}

.hi {
  padding: 0px 3px;
  font-weight: 400;
  border-radius: var(--radius-1);
}

.link {
  color: var(--blue-200);
}

.link-green {
  color: var(--green-200);
}
