// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

// Navbar
$nav-height-mobile: 60px;
$nav-height-desktop: 80px;

// Spacing
$site-padding: 1rem;

//  Mixins
@mixin respond($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin hide-sm {
  @include respond($sm) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}

@mixin hide-md {
  @include respond($md) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}

@mixin hide-lg {
  @include respond($lg) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}

@mixin hide-xl {
  @include respond($xl) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}

@mixin hide-xxl {
  @include respond($md) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}
