@font-face {
  font-family: 'Cubano';
  src: local('Cubano'),
    url('/assets/fonts/cubano-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Attribute Mono';
  src: local('Attribute Mono'),
    url('/assets/fonts/attribute-mono.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Attribute Mono';
  src: local('Attribute Mono'),
    url('/assets/fonts/attribute-mono-bold.woff') format('woff');
  font-weight: bold;
}

// Typography
$font-display: 'Cubano', sans-serif;
$font-primary: 'Sofia Pro', sans-serif;
$font-code: 'Attribute Mono', monospace;

// Colors
// Neutral
$neutral-50: #f7f9ff;
$neutral-100: #dbe1e8;
$neutral-200: #b2becd;
$neutral-300: #899aa6;
$neutral-400: #6c7983;
$neutral-500: #5a656e;
$neutral-600: #454e56;
$neutral-700: #2a2e35;
$neutral-800: #12181b;
$neutral-900: #090b0d;

// Blue
$blue-100: #6ca0fc;
$blue-200: #498afb;
$blue-300: #2674fa;

// Green
$green-100: #0be586;
$green-200: #09c372;
$green-300: #07a15e;

// Orange
$orange-100: #fb9865;
$orange-200: #fa8142;
$orange-300: #f96a1f;

// Pink
$pink-100: #ff649e;
$pink-200: #ff4088;
$pink-300: #ff1c72;

// Purple
$purple-100: #a481d5;
$purple-200: #9166cc;
$purple-300: #7d4bc3;

// Red
$red-100: #ff5c7c;
$red-200: #ff3860;
$red-300: #ff1443;

// Code
$code-text: #dee2f7;
$code-bg: #22262f;

// Tags
$tag-android: #a4c34a;
$tag-angular: #dc0530;
$tag-css: #f954be;
$tag-docker: #2496ed;
$tag-electron: #adecf3;
$tag-fauna: #6675e0;
$tag-firebase: #ffcb2b;
$tag-flutter: #54c5f8;
$tag-github: #24292e;
$tag-go: #00add8;
$tag-graphql: #e10097;
$tag-javascript: #f0db4f;
$tag-nest: #e0234e;
$tag-node: #90c53f;
$tag-python: #3879ab;
$tag-react: #00d8ff;
$tag-rpi: #bc1142;
$tag-svelte: #ff3e00;
$tag-typescript: #2775c3;
$tag-vue: #41b883;

// Shades
$black: #000000;
$white: #ffffff;
$transparent: transparent;

// Gradients
$gradient-100: linear-gradient(to right, $orange-200, $pink-200);
$gradient-200: linear-gradient(to right, $orange-300, $pink-300);
$gradient-300: linear-gradient(to right, $green-100, $green-300);

// Transition durations
$duration-1: 100ms;
$duration-2: 200ms;
$duration-3: 300ms;
$duration-4: 400ms;
$duration-5: 500ms;

// Shadows
$shadow-nav: 0px 0px 10px rgba(1, 1, 1, 0.8);
$shadow-tag: 0px 4px 5px rgba(0, 0, 0, 0.2);
$shadow-toc: 0px 10px 20px rgba(0, 0, 0, 0.7);
$shadow-card: 0px 4px 8px rgba(0, 0, 0, 0.4);

// Border radius
$radius-1: 2px;
$radius-2: 4px;
$radius-4: 8px;
$radius-max: 50%;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

// Navbar
$nav-height-mobile: 60px;
$nav-height-desktop: 80px;

// Spacing
$site-padding: 1rem;

//  Mixins
@mixin respond($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin hide-sm {
  @include respond($sm) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}

@mixin hide-md {
  @include respond($md) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}

@mixin hide-lg {
  @include respond($lg) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}

@mixin hide-xl {
  @include respond($xl) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}

@mixin hide-xxl {
  @include respond($md) {
    visibility: hidden;
    display: none;
    @content; // Override
  }
}
