@import '/src/styles/variables';

:host {
  margin-top: 1rem;
  align-items: center;
  box-shadow: $shadow-card;
  background-color: $neutral-700;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: inline-flex;
}

app-icon {
  margin-right: 0.5rem;
  color: $neutral-200;
}

.name {
  color: $neutral-200;
  font-size: 1.125rem;

  @include respond($md) {
    font-size: 0.875rem;
  }
}
