<ul class="pagination">
  <li class="item">
    <a routerLink="/lessons">««</a>
  </li>
  <li class="item disable">
    <a routerLink="">«</a>
  </li>
  <li class="item active">
    <a routerLink="/lessons/page/1">1</a>
  </li>
  <li class="item">
    <a routerLink="/lessons/page/2">2</a>
  </li>
  <li class="item disable">
    <a routerLink="">...</a>
  </li>
  <li class="item">
    <a routerLink="/lessons/page/7">7</a>
  </li>
  <li class="item">
    <a routerLink="/lessons/page/2">»</a>
  </li>
  <li class="item">
    <a routerLink="/lessons/page/7">»»</a>
  </li>
</ul>
