@import '/src/styles/variables';

:host {
  display: block;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 0.8125rem;
  color: var(--cl-text);
}

.item {
  margin: 0.4rem;
  border-radius: var(--radius-2);
  background-color: var(--bg-card);
  transition: transform 200ms ease;

  &.active {
    opacity: 0.5;
  }

  &.disable {
    pointer-events: none;
    background-color: transparent;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 1.6rem;

  @include respond($md) {
    padding: 0.625rem 1.125rem;
  }
}
