@import "/src/styles/variables";
@import "/src/styles/partials/nav-item";

:host {
  display: flex;
  min-width: 15vw;
  align-items: center;
}

.item {
  @include nav-item;
}

.primary {
  color: $neutral-400;
}

.svg {
  height: 28px;

  @include respond($md) {
    height: 24px;
  }
}

.tooltip {
  color: $white;
  padding: 4px 6px;
  font-size: 0.875rem;
  background-color: $neutral-400;
  border-radius: $radius-1;
  letter-spacing: 0.15ch;
  display: inline-block;
  position: absolute;

  &::first-letter {
    text-transform: uppercase;
  }

  &.search {
    background-color: $blue-200;
  }

  &.pro {
    background-color: $green-200;
  }

  &.theme {
    background-color: $neutral-400;
  }

  &.login {
    background-color: $purple-200;
  }

  opacity: 0;
  transform: scale(0);
  transition: all 200ms ease;
}

.item:hover .tooltip {
  opacity: 0.8;
  transform: scale(1) translateY(36px);
}
