<div class="content">
  <h1 class="heading">
    Build and ship your app
    <span class="gradient-text"> Faster </span>
  </h1>
  <p class="text">
    Fireship.io is a <code class="gradient-bg">gateway drug</code> for
    developers who want to
    <strong> build awesome web & mobile apps.</strong>
  </p>
  <div class="actions">
    <app-button color="orange" link="/lessons">Free Lessons</app-button>
    <app-button color="green" link="/courses">Pro Courses</app-button>
  </div>
</div>

<div class="video">
  <app-video src="https://player.vimeo.com/video/599890291"></app-video>
</div>
