<p>
  The following tutorial will get you up and running with
  <a href="">Tailwind CSS</a>, empowering you to build a beautiful, responsive,
  and animated websites quickly. We will build a side navigation menu inspired
  by Discord.
</p>
<h2>Setup</h2>
<hr />
<h3>Install the Tailwind VS Code extension</h3>
<p>
  Install the
  <a
    href="https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss"
  >
    Tailwind VS Code
  </a>
  extension.
</p>
<h3>Use a JS Framework</h3>
<p>
  Feel free to use the JS framework of your choice. This tutorial uses
  <a href="https://tailwindcss.com/docs/guides/create-react-app">
    Create React App.
  </a>
</p>
<h2>Discord-Inspired Icon Navbar</h2>
<hr />
<h3>Make the App a Flexible Container</h3>
<p>
  Create a <a href="https://youtu.be/K74l26pE4YA"> flexbox </a> row by simply
  adding the flex utility to the parent element.
</p>
<app-file name="App.js"></app-file>
<h3>Position the Sidebar</h3>
<p>
  Combine Tailwind utility classes to position the sidebar. When hovering over
  each class in VS Code, it will display its true CSS values.
</p>
