<hr class="separator" />

<div class="issue">
  Find an issue with this page? <a href="" class="link">Fix it on GitHub</a>
</div>

<div class="copyright">
  <hr />
  Non-copyright © 2021 Fireship LLC <br />
  Re-created with
  <app-icon iconId="angular"></app-icon>
  <app-icon iconId="firebase"></app-icon>
  by
  <a href="https://github.com/ledinhanhtan-dev" class="link">ledinhanhtan</a>
  <hr />
  <a href="" class="link-green">Contributors</a>
  <a href="" class="link-green">Jobs</a>
  <a href="" class="link-green">Privacy</a>
  <a href="" class="link-green">Terms</a>
  <hr />
</div>

<div class="socials">
  <a href="">
    <app-icon iconId="youtube" size="lg" class="youtube"></app-icon>
  </a>
  <a href="">
    <app-icon iconId="twitter" size="lg" class="twitter"></app-icon>
  </a>
  <a href="">
    <app-icon iconId="github" size="lg" class="github"></app-icon>
  </a>
  <a href="">
    <app-icon iconId="slack" size="lg" class="slack"></app-icon>
  </a>
</div>

<div class="badges">
  <a href="https://apps.apple.com/us/app/fireship/id1462592372">
    <img src="/assets/icons/app-store-badge.svg" class="badge"
  /></a>
  <a
    href="https://play.google.com/store/apps/details?id=io.fireship.quizapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
  >
    <img src="/assets/icons/google-play-badge.svg" class="badge"
  /></a>
</div>
