<ul class="list">
  <li class="block">
    <a
      href="http://localhost:4200/lessons/react-native-firebase-chat-demo#setup"
      class="block-title"
      >Setup</a
    >
    <ul class="block-list">
      <li><a href=""> Install the Tailwind VS Code extension </a></li>
      <li><a href=""> Use a JS Framework </a></li>
    </ul>
  </li>
  <li class="block">
    <a href="#" class="block-title">Discord-Inspired Icon Navbar</a>
    <ul class="block-list">
      <li><a href=""> Make the App a Flexible container </a></li>
      <li><a href=""> Position the Sidebar </a></li>
      <li><a href=""> Add Icon Buttons </a></li>
      <li><a href=""> Use Apply to Create custom classes </a></li>
    </ul>
  </li>
  <li class="block">
    <a href="#" class="block-title">Animated Tooltips</a>
    <ul class="block-list">
      <li><a href=""> Create Tooltip Container </a></li>
      <li><a href=""> Animated with Group </a></li>
    </ul>
  </li>
</ul>
