@import '/src/styles/variables';

:host {
  display: flex;
  align-items: center;
}

img {
  max-width: 50px;
  border-radius: var(--radius-max);
  box-shadow: var(--shadow-card);
  margin-right: 0.5rem;
}

p {
  font-weight: 500;
  font-style: italic;
}
