@import "/src/styles/variables";
@import "/src/styles/partials/card";

:host {
  @include card;
  max-width: 650px;
  position: relative;
  overflow: hidden;
}

.content {
  padding: 1rem 1.25rem 1.25rem;
}

.desc {
  font-weight: 300;
}

.youtube {
  top: 0;
  right: 0;
  position: absolute;
  color: $red-200;
  padding: 1rem;
}
