<a [routerLink]="['/lessons', lesson.slug]" *ngIf="image">
  <img [src]="lesson.image" [alt]="lesson.name" />
</a>
<div class="content">
  <a [routerLink]="['/lessons', lesson.slug]">
    <h3>{{ lesson.name }}</h3>
  </a>
  <p class="desc">
    {{ lesson.desc }}
  </p>
  <div class="tags">
    <app-tag *ngFor="let tag of lesson.tags" [tag]="tag" size="sm"></app-tag>
  </div>
</div>
<div class="youtube" *ngIf="!lesson.pro">
  <app-icon iconId="youtube" [size]="image ? 'lg' : 'md'"></app-icon>
</div>
