@import '/src/styles/variables';

:host {
  display: block;
}

.box {
  margin: 0 auto;
  padding: 1rem 1.5rem 2.5rem;
  background-color: var(--bg-card);
  box-shadow: var(--shadow-card);
  max-width: $xl;
}

.copy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > p {
    padding: 0 5px;
    font-weight: 800;
    margin: 0 1rem 0 0;
    background-color: var(--bg-opacity);
    font-family: var(--font-code);
    color: var(--purple-200);

    @include respond($md) {
      font-size: 0.875rem;
    }
  }

  & > app-link {
    flex-shrink: 0;
  }
}
