<app-block heading="Q&A Chat">
  <div class="box">
    <p>Have questions? Let's chat about this post</p>
    <app-link type="flat" color="purple" size="md">SIGNUP FOR SLACK</app-link>
    <p>
      Copy the link below and paste it into the #questions channel in Slack 👇
    </p>
    <div class="copy">
      <p>
        @Question https://fireship.io/lessons/tailwind-tutorial/ your
        question...?
      </p>
      <app-link type="flat" color="blue" size="md">COPY AND ASK</app-link>
    </div>
  </div>
</app-block>
