@use '/src/styles/partials/tag';

@import '/src/styles/variables';

:host {
  display: inline-block;
}

a {
  padding: 3px 5px;
  font-weight: 400;
  font-size: 0.875rem;
  border-radius: var(--radius-1);
  background-color: var(--bg-tag);
  color: var(--cl-text);
  display: block;

  transition: all 200ms ease;
  transition-property: transform, box-shadow;

  &:hover {
    transform: translateY(-1px);
    box-shadow: var(--shadow-tag);
  }

  &:active {
    transform: translateY(0px);
    box-shadow: none;
  }
}

// Sizes

.sm {
  margin: 3px;
  padding: 4px 7px;
  font-weight: 400;
  letter-spacing: 0.15ch;

  @include respond($md) {
    padding: 4px 5px 3px;
    font-size: 0.7rem;
    font-weight: 300;
  }
}

@mixin md {
  margin: 3.5px;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 4px 7px 5px;
}

.md {
  @include md;

  @include respond($md) {
    font-size: 1rem;
    padding: 3px 6px 4px;
  }
}

.lg {
  margin: 5px;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: var(--radius-2);
  padding: 7px 13px;

  @include respond($md) {
    @include md;
  }
}
