@import "/src/styles/variables";

:host {
  display: inline-block;
}

a {
  padding: 3px 5px;
  font-weight: 400;
  font-size: 0.875rem;
  border-radius: $radius-1;
  background-color: $neutral-600;
  color: $white;
  display: block;

  transition: all 200ms ease;
  transition-property: transform, box-shadow;

  &:hover {
    transform: translateY(-1px);
    box-shadow: $shadow-tag;
  }

  &:active {
    transform: translateY(0px);
    box-shadow: none;
  }
}

// Sizes

.sm {
  padding: 4px 7px;
  font-weight: 400;
  letter-spacing: 0.15ch;
  margin-right: 6px;
  margin-top: 6px;

  @include respond($md) {
    padding: 4px 5px 3px;
    font-size: 0.7rem;
    font-weight: 300;
  }
}

@mixin md {
  font-weight: 700;
  font-size: 1.125rem;
  padding: 4px 7px 5px;
  margin-right: 7px;
  margin-top: 7px;
}

.md {
  @include md;

  @include respond($md) {
    font-size: 1rem;
    padding: 3px 6px 4px;
  }
}

.lg {
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: $radius-2;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 8px;

  @include respond($md) {
    @include md;
  }
}

// Colors - Background Colors

.android {
  background-color: $tag-android;
}

.angular {
  background-color: $tag-angular;
}

.css {
  background-color: $tag-css;
}

.docker {
  background-color: $tag-docker;
}

.electron {
  color: $neutral-800;
  background-color: $tag-electron;
}

.fauna {
  background-color: $tag-fauna;
}

.firebase {
  color: $black;
  background-color: $tag-firebase;
}

.flutter {
  color: #003b6c;
  background-color: $tag-flutter;
}

.github {
  background-color: $tag-github;
}

.go {
  background-color: $tag-go;
}

.graphql {
  background-color: $tag-graphql;
}

.javascript {
  color: $black;
  background-color: $tag-javascript;
}

.node {
  color: $neutral-700;
  background-color: $tag-node;
}

.nest {
  color: $tag-nest;
  background-color: $black;
}

.pro {
  background-color: $green-200;
}

.python {
  color: #ffda5d;
  background-color: $tag-python;
}

.react {
  color: #222;
  background-color: $tag-react;
}

.react-native {
  color: $tag-react;
  background-color: #222;
}

.rpi {
  color: #222;
  background-color: $tag-rpi;
}

.svelte {
  background-color: $tag-svelte;
}

.typescript {
  background-color: $tag-typescript;
}

.vue {
  color: #35495e;
  background-color: $tag-vue;
}
