<app-home-hero></app-home-hero>

<app-block
  heading="New Courses"
  subheading="Brand new courses and updates every month"
>
  <div class="row">
    <app-card [course]="course" *ngFor="let course of courses"></app-card>
  </div>
</app-block>

<app-block
  heading="Learn By Doing"
  subheading="Fast, efficient, project-based video courses"
></app-block>

<app-block
  heading="Modern Full Stack"
  subheading="Develop Faster with scalable could infrastructure"
></app-block>

<app-block
  heading="New to Firebase?"
  subheading="Learn the basics in 25 minutes 👇"
>
  <div class="row"><app-card [course]="firebaseCourse"></app-card></div
></app-block>

<app-block
  heading="💖 Loved by Developers since 2017"
  subheading='"I have a job thanks to you!"'
></app-block>

<app-block
  heading="Extraordinary Code Tutorials "
  subheading="Fast-paced software dev content you'll enjoy watching"
  [gradientHeading]="true"
></app-block>
